 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 #app-header {
     position: fixed;
     top: 0;
     height: 8rem;
     min-width: 100vw;
     display: flex;
     justify-content: center;
     align-items: last center;
     font-size: 2rem;
     background-color: rgb(30, 30, 30);
     box-shadow: 0 0.5px 5px white;
     color: white;
 }