.puzzle-game__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}


.puzzle-game__container {
    min-height: calc(100vh - 10rem);
}

#grid-container {
    display: grid;
    height: 25rem;
    width: 25rem;
}

.threeXthree {
    grid-template-columns: repeat(3, 1fr);
}

.fourXfour {
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    width: 100%;
    height: auto;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.game-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-details button {
    height: 3rem;
    width: 15rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    background: linear-gradient(to left, red, blue);
    color: white;
    transition: transform 0.12s ease-in-out, color 0.12s ease-in-out, background-color 0.12s ease-in-out, background 0.12s ease-in-out, box-shadow 0.12s ease-in-out;
}

.game-details button:hover {
    transform: scale(1.2);
    color: #FFCE0F;
    background: linear-gradient(to right, red, blue);
    cursor: pointer;
    box-shadow: 0 0 15px white;
}

#move-count p {
    font-size: 1.8rem;
}

#correct-counts {
    color: rgb(72, 255, 72);
}

#wrong-counts {
    color: red;
}

#moves-count {
    color: rgb(30, 30, 255);
}

#finalScore {
    visibility: hidden;
}

#score {
    color: rgb(212, 212, 44);
}

#correct-counts,
#wrong-counts,
#moves-count,
#score {
    /* -webkit-text-stroke: #150819 0.1px; */
    font-size: 2rem;
}