#puzzle-selection {
    min-height: calc(100vh - 8rem);
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.puzzle-image__container {
    width: 25rem;
    height: 25rem;
    background-color: red;
    background-position: center;
    background-size: 25rem 25rem;
    border-radius: 2rem;
    border: 1px solid white;
    transition: background-size 0.12s ease-in, box-shadow 0.12s ease-in;
    transition-delay: 0.12s;
}

.puzzle-image__container:hover {
    background-size: 50rem 50rem;
    box-shadow: 0 0 15px white;
    cursor: pointer;
}

#pi1 {
    background-image: url('../images/puzzle-1.png');
}

#pi2 {
    background-image: url('../images/puzzle-2.jpg');
}

#pi3 {
    background-image: url('../images/puzzle-3.jpg');
}