* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Play';
    color: 150819;
}

body {
    background-color: black;
    color: white;
    display: flex;
    padding: 0 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-header {
    position: relative;
    height: 8rem;
    background-color: rgb(32, 32, 32);
    width: 100vw;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

#close-btn {
    position: absolute;
    width: 12rem;
    height: 4rem;
    border-radius: 1rem;
    background: linear-gradient(to right, blue, red);
    color: white;
    font-size: 1.5rem;
    right: 2rem;
    transition: transform 0.12s ease-in-out, color 0.12s ease-in-out, box-shadow 0.12s ease-in-out, background 0.12s ease-in-out;
}

#close-btn:hover {
    transform: scale(1.1);
    color: #FFCE0F;
    box-shadow: 0 0 10px white;
    background: linear-gradient(to left, blue, red);
}
